<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CircleApp</title>

    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="/scripts/paper-full.js"></script>

    <!--	Howler-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
<!--    Own Css-->
    <link rel="stylesheet" href="/stylesheets/patatap.css">

</head>
<body>
