<% include partials/header.ejs%>

    <!--	<canvas id="myCanvas" resize></canvas>-->

    <div id="header" onkeypress="">Press keyboard keys to make circles. Key "a" will make a sound</div>
    <canvas id="myCanvas" resize="" >
    </canvas>



<% include partials/footer.ejs%>
